<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h3>Привет, я автор этого сайта</h3>
<p>
  Ты можешь меня знать как <a href="https://github.com/HopUpInGWagon">HopUpInGWagon.</a>
</p>
<p>
  А также как начинающего исполнителя, битмейкера, пока что "так себе кодера" и просто творческого человека. <br>
  Ты можешь послушать мою музыку на всех цифровых площадках, а мой псевдоним - Gibba!
</p>
<p>
  Контакты для обратной связи:<br>
  Telegram - <a href="https://t.me/kalaevii">@kalaevii</a><br>
  VK - <a href="https://vk.com/kalaevii"> Илья Калаев</a>
</p>
{% endblock %}